* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    /*fixed the white line*/
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(3, 3, 17);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: lightblue;
    font-size: 1.05rem;
}

main hr {
    border: 0;
    background: rgb(132, 22, 192);
    height: 1.2px;
    margin: 40px 84px;
}

.left {
    font-size: 1.5rem;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animation {
    0% {
        background-color: lightblue;
    }

    25% {
        background-color: rgb(23, 231, 23);
    }

    50% {
        background-color: rgb(222, 222, 22);
    }

    100% {
        background-color: blue;
    }
}

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    align-items: center;
}

.firstsection div {
    width: 80%;
    margin: 0px 0;
}

.leftSection {
    font-size: 3rem;
}

.leftSection .buttons {
    padding: 50px 0px;
    margin: -40px 10px;
}

.leftSection .btn {
    padding: 12px;
    background: rgb(36, 36, 188);
    color: white;
    border: 2px solid white;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    display: inline-block; /* Makes the link cover the whole button */
    width: 40%;
    height: 100%;
    transition: height 2s, width 2s;
}
.leftSection .btn a {
    text-decoration: none !important; /* Force removal of underline */
    color: white;
    display: block; /* Makes entire button clickable */
    width: 100%;
    height: 100%;
}
.leftSection .btn:hover {
    background-color: red;
    height: 100%;
    width: 40%;
}

.RightSection img {
    width: 70%;
    margin: 0px 40px;
    margin-top: -70px;
    transition: height 2s, width 2s;
}

.RightSection img:hover {
    height: 81%;
    width: 81%;
}

.purple {
    color: rgb(44, 44, 205);
}

.text-grey {
    color: black;
    font-size: x-small;
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondSection h1 {
    font-size: 1.3rem;
    color: white;
    text-shadow: -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.secondSection .box {
    background: blue;
    width: 78vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondSection .vertical {
    height: 93px;
    width: 2px;
    background-color: blue;
    margin: 0px 100px;
}

.image-top {
    width: 40px;
    position: relative;
    top: -45px;
    left: -18px;
}

.vertical-title {
    position: relative;
    top: 52px;
    width: 150px;
    left: -18px;
    color: black;
}

.vertical-desc {
    position: relative;
    top: 12px;
    color: orange;
    width: 150px;
    font-size: 9px;
    left: 22px;
}
#about{
    padding: 20px;
    margin-top: -200px;
}
.about-container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px 0;
}
h2{
    font-size: 2em;
    color: #333;
    ;
}
.service-h2{
    margin: 0px 500px;
    width: 500px;
}
.service-box h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333; /* Ensure it's visible */
    text-align: center;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    color: #98c72c;
}
.service-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px; /* Adds space between elements */
        margin-top: 50px; /* Adjust spacing */
    }
.service-box {
    display: inline-block;
    width: 30%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 10px;
}
#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.projects-container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px 0;
}
.service-box i {
    font-size: 2em;
    color: #007bff;
}
.project-box {
    display: inline-block;
    width: 30%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 10px;
}
.project-box h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333; /* Ensure it's visible */
    text-align: center;
    margin-bottom: 10px;
}
footer {
    background-color: rgb(14, 180, 236);
}

.footer {
    display: flex;
    margin: 23px 122px;
    justify-content: space-evenly;

}

.footer ul {
    list-style: none;
    width: 354px;
}

.footer>div {
    width: 223px;
    margin: 50px 0px;

}

footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 12px 0px;
}

footer .footer-first {
    color: white;
    text-shadow: -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}